<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="static/graphCanvas.js"></script>
  <script> 
    /*
    function uploadAudio() {
      fetch ('/upload', {
        method: "POST",
        body: document.getElementById("file").files[0]
      }) 
      .then(response => response.blob())
      .then(blob => {
        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        canvas.style.display = "block";
        ctx.fillStyle = "#000000";
        img = new Image();
        img.src = URL.createObjectURL(blob);
        img.onload = function() {
          ctx.drawImage(img, 0, 0, 800, 600);
        }
      })
    }*/
    function uploadPitches() {
      fetch ('/uploadpitches', {
        method: "POST",
        body: document.getElementById("file").files[0]
      })
      .then(response => response.json())
      .then(pitches => {
        var viewing = document.getElementById("viewing");
        viewing.textContent = "Processing audio...";

        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        canvas.style.display = "block";
        generateCanvas(ctx, pitches);
        viewing.textContent = "Viewing " + document.getElementById("file").files[0].name;
      })
    }
    function uploadPitchesNamed(filename) {
      fetch ('/uploadpitchesnamed', {
        method: "POST",
        body: JSON.stringify({name: filename}),
      })
      .then(response => response.json())
      .then(pitches => {
        var viewing = document.getElementById("viewing");
        viewing.textContent = "Processing audio...";

        var canvas = document.getElementById("myCanvas");
        var ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, canvas.width, canvas.height);
        canvas.style.display = "block";
        generateCanvas(ctx, pitches);
        viewing.textContent = "Viewing " + filename + ".mp3";
      })
    }
  </script>
  <style>
    #myCanvas {
      display: none;
    }
  </style>
</head>
<body>

<!-- have a button POST a click via AJAX -->
<h2>Fundamental Frequency Finder</h2>
<p>Upload an MP3 file or select one of the buttons to graph the fundamental frequencies for the first 4-5 seconds. The fundamental frequency is the lowest pitch recognized, so this program not perform well with multiple notes or instruments playing simultaneously.</p>
<button type = "button" onclick="uploadPitchesNamed('fe')">
  Fur Elise
</button>
<button type = "button" onclick="uploadPitchesNamed('beet')">
  Beethoven's Fifth
</button>
<button type = "button" onclick="uploadPitchesNamed('tf')">
  A4 (440 Hz)
</button>
<br>
<br>

<label for = "files" class "btn">Select MP3</label>
<input id="file" name="audio" type="file"/>
<button onclick="uploadPitches()">Upload</button>

<p id="viewing">Awaiting file choice.</p>

<canvas id = "myCanvas" width = "800" height = "600"> </canvas>

<div id="coordinates"></div>
<script>
const canvas = document.getElementById("myCanvas");
  const ctx = canvas.getContext("2d");

  canvas.addEventListener("mousemove", handleMouseMove);
</script>
</body>

<p>Audio files were taken from various open source sites. </p>

</html>